.historyEntriesContainer {
  margin-top: 1em;
  padding: 0 1em 1em 1em;
}
.historyEntries {
  width: 100%;
  border-collapse: collapse;
  background: #FFF;
  box-shadow: 0 1px 3px #666;
}
.historyEntries th {
  padding: .5em;
  font-size: 1.4em;
  font-weight: bold;
  background: #F1F1F1;
  background: -moz-linear-gradient(#FFF, #F1F1F1);
  background: -webkit-linear-gradient(#FFF, #F1F1F1);
  background: -o-linear-gradient(#FFF, #F1F1F1);
  background: -ms-linear-gradient(#FFF, #F1F1F1);
  background: linear-gradient(#FFF, #F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F1F1F1');
  border: 1px solid #D4D4D4;
  border-top: 0;
  border-left: 0;
}
.historyEntries tr:hover td {
  background-color: #39F;
  color: #FFF;
}
.historyEntries td {
  padding: 0 .5em;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  border: 1px solid #D4D4D4;
  border-bottom: 0;
  border-left: 0;
  cursor: pointer;
}
.historyEntries td:last-child,
.historyEntries th:last-child {
  border-right: 0;
}
.historyEntries .stateIndicator {
  width: 1em;
  height: 2em;
}
.historyFilter .fields > li {
  display: inline-block;
  margin-top: 0;
  margin-right: 1em;
}
#historyFilterState {
  margin-right: 0;
}
#historyFilterState > label {
  margin-bottom: .5em;
}
.collectedDataTypes {
  margin: 0 auto;
  text-align: center;
}
.collectedDataTypes li {
  display: inline-block;
  padding: .5em 1em;
  font-size: 1.2em;
  border: 1px solid transparent;
  border-bottom: none;
}
.collectedDataTypes .current {
  background: #FFF;
  border-color: #e0e0e0;
}
.collectedDataGraphContainer {
  margin-top: 0;
}
.collectedDataGraph {
  position: relative;
  background-color: #FFF;
}
.collectedDataGraph .xAxis .tickLabel:last-child {
  left: auto!important;
  right: 0!important;
  width: 40px!important;
  text-align: right!important;
}
.stats .action {
  font-size: 60px;
  width: 120px;
}
.passedCount,
.failedCount {
  font-family: monospace;
  font-size: 450px;
  text-shadow: 0 1px 6px #666;
  line-height: 1;
  letter-spacing: 0;
}
.passed {
  color: #7cfc00;
  float: left;
  width: 49%;
  text-align: center;
}
.failed {
  color: red;
  float: right;
  width: 49%;
  text-align: center;
}
@media all and (max-width: 1700px) {
  .passedCount,
  .failedCount {
    font-size: 350px;
  }
}
@media all and (max-width: 1300px) {
  .passedCount,
  .failedCount {
    font-size: 290px;
  }
}
@media all and (max-width: 1100px) {
  .passedCount,
  .failedCount {
    font-size: 230px;
  }
}
@media all and (max-width: 900px) {
  .passedCount,
  .failedCount {
    font-size: 210px;
  }
}
