<div class="passed">
  <p class="passedCount"><%- passed %></p>
  <p class="actions">
    <input class="blue action" type=button value="&#x21e9;" data-action="decrease" data-type="passed">
    <input class="blue action" type=button value="0" data-action="reset" data-type="passed">
    <input class="blue action" type=button value="&#x21e7;" data-action="increase" data-type="passed">
  </p>
</div>
<div class="failed">
  <p class="failedCount"><%- failed %></p>
  <p class="actions">
    <input class="blue action" type=button value="&#x21e9;" data-action="decrease" data-type="failed">
    <input class="blue action" type=button value="0" data-action="reset" data-type="failed">
    <input class="blue action" type=button value="&#x21e7;" data-action="increase" data-type="failed">
  </p>
</div>
