<p class="voltageContainer">
  <input class="blue action decreaseVoltageButton" type=button value="&#x21e9;">
  <input class="blue action increaseVoltageButton" type=button value="&#x21e7;">
  <span class="voltageText">
    <em>U=</em><span
    class="voltageValue"><%- voltage %></span><em
    >V</em>
  </span>
</p>
<ul class="breadcrumbs">
  <li><span>Silnik krokowy</span>
</ul>
<p class="stepperContainer">
  <input class="red action dirButton" type=button value="DIRECTION" data-tag="dir" data-state="0">
  <input class="red action stepButton" type=button value="STEP" data-tag="step" data-state="0">
  <input class="red action enableButton" type=button value="ENABLE" data-tag="enable" data-state="0">
</p>
